<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ICONS BOOTSTRAP -->
    <script src="/js/icons/icons_navbar/2c84f2b2f3.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/js/home/bootstrap.min.css">


    <title>Ayuda</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/help.css">

  </head>
  <body>
    <%- include('navbar') %>
    <div class="container">
      <div class="row">
        <div class="col">
  
        </div>
        <div class="col" id="ayuda">
          <h4 class="mt-3">Ayuda</h4>
          <hr>
          <p>Preguntas mas frecuentes</p>
          
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Como registrar una nueva Persona?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Para hacer un nuevo registro de una persona es necesario seguir los siguientes pasos:
                  <ul>
                    <li>1. Dirigirse a la pestana <b>Registrar.</b> </li>
                    <li>2. Dar click en el item <b>Persona.</b></li>
                    <li>3. Diligenciar el formulario y dar click en <b>Guardar.</b></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Como registrar un nuevo Elemento?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Para hacer un nuevo registro de un elemento es necesario seguir los siguientes pasos:
                  <ul>
                    <li>1. Dirigirse a la pesta単a <b>Registrar.</b> </li>
                    <li>2. Dar click en el item <b>Elemento.</b></li>
                    <li>3. Diligenciar el formulario y dar click en <b>Guardar.</b></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Como realizar un ingreso de un elemento?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Para hacer el ingreso de un elemento es necesario seguir los siguientes pasos:
                  <ul>
                    <li>1. Dirigirse a la pesta単a <b>Registro Ingreso.</b> </li>
                    <li>2. Dar click en el boton <b>Nuevo ingreso.</b></li>
                    <li>3. Diligenciar el formulario y dar click en <b>Guardar.</b></li>
                    <li>4. Buscar con el numero de documento de la persona que desea ingresar los elementos ingresados.</li>
                    <li>5. Seleccione el elemento que se desea ingresar.</li>
                    <li>6. Seleccione estado (<b> Entrada o Salida. </b>)</li>
                    <li>7. Dar click en <b>Ingresar.</b></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFourt">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourt" aria-expanded="false" aria-controls="flush-collapseFourt">
                  Como editar datos de un registro?
                </button>
              </h2>
              <div id="flush-collapseFourt" class="accordion-collapse collapse" aria-labelledby="flush-headingFourt" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Para editar los datos de los <b>elementos,</b> <b>personas</b> o <b>perfil</b> es necesario seguir los siguientes pasos:
                  <ul>
                    <li>1. Dirigirse a la pesta単a que desea editar.</li>
                    <li>2. Buscar la persona o elemento que desea editar. </li>
                    <li>3. Dar click en el boton <b>Buscar.</b></li>
                    <li>4. Escribar los nuevos datos y dar click en el boton <b>Actualizar.</b></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  Como generar reportes?
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Para generar un <b>reporte</b> es necesario seguir los siguientes pasos:
                  <ul>
                    <li>1. Dirigirse a la pesta単a <b>Reportes.</b></li>
                    <li>2. Seleccione el tipo de reporte que desea generar.</li>
                    <li>3. Descarge el reporte con el formato que desea.</b></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>