
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ICONS BOOTSTRAP -->
        <script src="/js/home/icons/2c84f2b2f3.js"></script>


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/js/home/bootstrap.min.css">


        <title>Registro elementos</title>
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        <%- include('navbar') %>
        <div class="container">
          <div class="card m-4" style="width: 45rem;">
            <div class="card-body">
              <h5>Bienvenido al</h5>
              <h1>Registro</h1>
              <h1 class="elements">Elementos</h1>
              <hr>
              <p class="card-text">Un sistema realizado para llevar un inventario de todos los ingresos de los elementos junto con sus dueños o responsable...</p>
            </div>
          </div>
        </div>    
    </body>
