<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- GOOGLE FONTS -->
      <link rel="preconnect" href="https://fonts.gstatic.com"> 
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">   
     
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
     <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
     <!-- ICONS BOOTSTRAP -->
    <script src="https://kit.fontawesome.com/2c84f2b2f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/navbar.css">
    <title>navbar</title>
   
    
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Ingreso Elementos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="/"> <i class="fas fa-home"></i> Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/registro/register_elements"> <i class="fas fa-plus"></i> Registrar Ingreso</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reportes/reports"> <i class="far fa-clipboard"></i> Reportes</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="me-3 "><a class="text-decoration-none" href="/users/signup"> <i class="fas fa-user-plus "></i> Registrarse</a></li>
                <li ><a class="text-decoration-none" href="/users/signin"> <i class="fas fa-sign-in-alt"></i> Iniciar Sesion</a></li>
              </ul>
          </div>
        </div>
      </nav>  
</body>
=======
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">   
           
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <!-- ICONS BOOTSTRAP -->
    <script src="https://kit.fontawesome.com/2c84f2b2f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/navbar.css">

    
        <title>navbar</title>
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Ingreso Elementos</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" id="items_nav"> <i class="fas fa-home"></i> Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/registro/register_elements" id="items_nav"> <i class="fas fa-plus"></i> Registrar Ingreso</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/reportes/reports" id="items_nav"> <i class="far fa-clipboard"></i> Reportes</a>
                  </li>
                  
                </ul>

                <ul class="nav navbar-nav navbar-right" >
                    <li class="nav-item" id="cerrar_sesion">
                      <a class="nav-link" href="/users/logout" > <i class="far fa-clipboard"></i> Cerrar Sesion</a>
                    </li>
                    <li class="me-3 " id="validar">
                        <a class="text-decoration-none" href="/users/signup">
                            <i class="fas fa-user-plus fa-lg mt-3 me-2"></i>Registrarse
                        </a>
                    </li>
                    <li class="me-3" id="validar">
                        <a class="text-decoration-none" href="/users/signin">
                            <i class="fas fa-sign-in-alt fa-lg mt-3 me-2"></i>Iniciar Sesion
                        </a>
                    </li>
                    
                  </ul>
              </div>
            </div>
          </nav>  
       
    </body>
>>>>>>> f4c72fe9b5dbe1705bdfd04f0d793556ccd4f24c
</html>