<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- GOOGLE FONTS -->
        <link rel="stylesheet" href="/js/icons/icons_navbar/css2.css">
           
        <!-- CSS only -->
        
        <link rel="stylesheet" href="/public/js/navbar/css/bootstrap.min.css">

    <title>navbar</title>
    <link rel="stylesheet" href="css/navbar.css">


    </head>
    <body>
        
      <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand border-end p-2" href="/home" id="nomb_software">Ingreso Elementos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item me-2">
                <a class="nav-link border-end p-2 active" aria-current="page" href="/home" id="items_nav"> <i class="fas fa-home"></i> Inicio</a>
              </li>

              <li class="nav-item dropdown me-2" id="items_nav">
                <a class="nav-link dropdown-toggle nav-link border-end p-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-plus"></i> Registrar
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/registrar_personas/persona"><i class="fas fa-user-plus me-2"></i>Persona</a></li>
                  <li><a class="dropdown-item" href="/registrar_personas/elemento"><i class="fas fa-book-medical me-2"></i>Elemento</a></li>
                </ul>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link border-end p-2" href="/registrar_ingreso" id="items_nav"> <i class="fas fa-plus"></i> Registrar Ingreso</a>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link border-end p-2" href="/reportes" id="items_nav"> <i class="far fa-clipboard"></i> Reportes</a>
              </li>
              
            </ul>

            <div class="nav-link dropstart" id="user">
              <a href="" class="nav-link dropdown-toggle border-end border-start" data-bs-toggle="dropdown" aria-expanded="false" aria-placeholder="nombre">
                <%- usuario[0].nombres %>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/users/Perfil"><i class="far fa-user-circle fa-lg me-2"></i>Perfil</a></li>
                <li><a class="dropdown-item" href="/users/ayuda"><i class="fas fa-question-circle fa-lg me-2"></i>Ayuda</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="/users/logout" ><i class="fas fa-sign-out-alt fa-lg me-2"></i>Cerrar Sesion</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <!-- <script src="/js/registrar_E_P/registrar_elementos/bootstrap.bundle.min.js"></script> -->
    

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="/js/registrar_E_P/registrar_elementos/popper.min.js"></script>
    
    <script src="/js/registrar_E_P/registrar_elementos/bootstrap.min.js"></script>
       
    </body>
</html>