<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ICONS BOOTSTRAP -->
    <script src="https://kit.fontawesome.com/2c84f2b2f3.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- FONTS GOOGLE -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


    <title>Hello, world!</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/register_elements.css">

  </head>
  <body>
    <%- include('navbar') %>
    <div class="container">
        <h1>Registro Elementos</h1>
        <div class="row"> 
            <div class="col-md-9 me-5 mt-3 mx-auto">
                <div class="card shadow p-3 mb-5 bg-body rounded mx-auto">
                    <div class="card-header aling-center rounded">
                        <h4>Registrar Elemento</h4>
                    </div>
                    <div class="row">  
                        <div class="col-md-12">
                            <!-- Identificasion y registro de personas -->
                            <div class="row m-3">  
                                <h5 class="data_title">Identificación</h5>
                                <!-- IDENTIFICACION -->
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" >
                                        <option selected>Tipo de Documento</option>
                                        <option value="1">Tarjeta de Identidad</option>
                                        <option value="2">Cedula de Ciudadania</option>
                                        <option value="3">Documento Extranjero</option>
                                    </select>
                                </div>
                                <div class="col col-md-5">
                                    <div class="input-group mb-3">    
                                        <input type="number" class="form-control" placeholder="Numero de documento" aria-label="number" aria-describedby="basic-addon1"  name="identificacion">
                                        <a href="" title="Buscar persona" onclick="consultar_numero(body.identificacion);"><span class="input-group-text" id="basic-addon1"><i class="fas fa-search fa-lg mt-2" id="identificacion"></i></span></a>
                                    </div>
                                </div>
                                <div class="col col-md-3" id="ventana_modal">
                                    <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float: right;" title="Registrar ahora">
                                        <i class="fas fa-folder-plus me-1"></i>Registrar
                                    </button>
                                      
                                    <!-- Modal registrar personas -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" aria-labelledby="staticBackdropLabel">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Registrar persona</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card-body col-md-10 mx-auto" id="body_modal">
                                                    <form action="registro/register_people" method="POST" class="col-md-11 mx-auto">
                                                        <h5 class="data_title">Datos personales</h5>
                                                        <div class="form-group mb-3">
                                                            <select class="form-select" aria-label="Default select example" id="tipo_documento">
                                                                <option selected>Tipo de Documento</option>
                                                                <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                                                                <option value="Cedula de Ciudadania">Cedula de Ciudadania</option>
                                                                <option value="Documento Extranjero">Documento Extranjero</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group mb-3" >
                                                            <input type="number" class="form-control"  name="numero_documento" placeholder="Numero de documento" id="numero_documento">
                                                        </div>
                                                        <div class="form-group mb-3 mt-2">
                                                            <input type="text" class="form-control" name="nombres" placeholder="Nombres" id="nombres">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <input type="text" class="form-control" name="apellidos" placeholder="Apellidos" id="apellidos">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <input type="text" class="form-control" name="telefono" placeholder="Telefono" id="telefono">
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <select class="form-select" aria-label="Default select example" id="tipo_persona">
                                                                <option selected>Tipo de persona</option>
                                                                <option value="Instructor">Instructor</option>
                                                                <option value="Aprendiz">Aprendiz</option>
                                                                <option value="Invitado">Invitado</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                                                <a href=""><button type="button" class="btn btn-success" onclick="Registrar_persona();" id="btnGuardarPersona">Registrar</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="col-md-9 bg-light rounded" id="Datos_persona">
                                <!-- Datos ocultos Autorellenados -->
                                <h2>Datos</h2>
                                <div class="row">
                                     <div class="col-md-12">
                                        <!-- <div class="mb-3">
                                            <input type="number" class="form-control" id="id_persona" disabled>
                                        </div> -->
                                        <!--<div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">ID</label>
                                                    <input type="text" class="form-control form-control-sm" name="id" placeholder="ID" id="consult_id">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">Identificacion</label>
                                                    <input type="text" class="form-control form-control-sm" name="identificacion" placeholder="Identificacion" id="consult_identificacion">
                                                </div>
                                            </div>
                                        </div> -->
                                    </div> 
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">Nombres</label>
                                                    <input type="text" class="form-control form-control-sm" name="nombre" placeholder="Nombres" id="consult_nombres">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">Apellidos</label>
                                                    <input type="text" class="form-control form-control-sm" name="apellidos" placeholder="Apellidos" id="consult_apellidos">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">Telefono</label>
                                                    <input type="text" class="form-control form-control-sm" name="telefono" placeholder="Telefono" id="consult_telefono">
                                                </div>
                                            </div>
                                            
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">Tipo de Persona</label>
                                                    <input type="text" class="form-control form-control-sm" name="tipo_persona" placeholder="Tipo persona" id="consult_Tipo_persona">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="color: #FF5800; border: 1px solid; width: 95%;" class="mx-auto">
                        <!-- registro de nuevos elementos -->
                        <div class="col-md-11 mx-auto mt-3">
                            <div class="row">
                                <div class="col">
                                    <h5 class="data_title">Elementos Ingresados</h5>
                                </div>
                                <div class="col">
                                    <!-- VENTANA MODAL registrar nuevo elemento -->

                                    <div class="col col-md-12" id="ventana_modal">
                                        <button type="button" class="btn btn-outline-warning btn-sm mt-3" data-bs-toggle="modal" data-bs-target="#exampleModalElements" style="float: right;" title="Registrar ahora">
                                            <i class="fas fa-plus-circle me-1"></i>Registrar
                                        </button>
                                        
                                        <!-- Modal Elementos -->
                                        <div class="modal fade" id="exampleModalElements" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" aria-labelledby="staticBackdropLabel">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Registrar nuevo elemento</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card-body col-md-10 mx-auto" id="body_modal">
                                                        <form action="#" method="POST" class="col-md-11 mx-auto">
                                                            <h5 class="data_title">Datos del elemento</h5>
                                                            <div class="form-group mb-3">
                                                                <input type="text" class="form-control" name="elemento" id="tipo_elemento" placeholder="Tipo de Elemento" >
                                                            </div>
                                                            <div class="form-group mb-3">
                                                                <input type="number" class="form-control" name="num_serial" id="numero_serial" placeholder="Numero Serial" >
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <label class="form-label mb-3 p-1" style="color: rgb(141, 141, 141);">Caracteristicas...</label>
                                                                <textarea class="form-control mb-3" placeholder="Caracteristicas" id="caracteristicas" style="height: 60px; font-weight:500;"></textarea>
                                                                
                                                            </div>
                                                            <div class="form-group mb-3">
                                                                <input type="text" class="form-control" name="marca" id="marca" placeholder="Marca" >
                                                            </div>
                                                            <div class="form-group mb-3">
                                                                <input type="text" class="form-control" name="modelo" id="modelo" placeholder="Modelo" >
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Salir</button>
                                                    <a href=""><button type="button" class="btn btn-success" onclick="Registrar_Elemento();">Registrar</button></a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <hr style="color: #c0c0c0; border: 1px solid;" class="mx-auto">                           
                            
                            <!-- TABLA Elementos ingresados -->

                            <table class="table table-dark table-hover table-bordered">
                                <thead class="table-dark border-sm align-middle">
                                  <tr class="text-center table-dark" >
                                    <th scope="col">ID</th>
                                    <th scope="col">Tipo elemento</th>
                                    <th scope="col">Numero Serial</th>
                                    <th scope="col">Caracteristicas</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Modelo</th>
                                    <th scope="col" style="width: 13%;">Admin</th>
                                  </tr>
                                </thead>
                                <tbody id="Elements">
                                
                                </tbody>
                            </table>

                            <!-- Ingresos -->
                            <div class="form-group mb-3">
                                <h5 class="data_title">Ingreso</h5>
                                <div class="row">
                                    <div class="col">
                                        <input type="time" id="HoraActual" class="form-control" name="hora" placeholder="Hora">
                                    </div>
                                    <div class="col">
                                        <input type="date" id="fechaActual" class="form-control" name="fecha" placeholder="Dia/Mes/Año">
                                    </div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="entrada" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                              Entrada
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="salida" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              Salida
                                            </label>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                                        
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-outline-success m-4 " id="btn_register">
                    <i class="fas fa-save me-2"></i>Guardar
                </button>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
   
  </body>
</html>


<script>

    Elements_id()


function consultar_numero(id){

    const datos = new URLSearchParams();
    datos.append('identificacion', id);

    fetch('registro/consultar_documento',{
    method: 'get',
    body: datos
    })
    .then(resp=>resp.json())
    .then(data=>{

        for(var i in data){

            document.getElementById('consult_nombres').value= data[i].nombres;
            document.getElementById('consult_apellidos').value= data[i].apellidos;
            document.getElementById('consult_telefono').value= data[i].telefono; 
            document.getElementById('consult_Tipo_persona').value= data[i].Tipo_persona;
        }
    })
    alert(data)

    

}

    
function Registrar_persona(){

var tipo_doc = document.getElementById('tipo_documento').value;
var numero_doc = document.getElementById('numero_documento').value;
var nomb = document.getElementById('nombres').value;
var apel = document.getElementById('apellidos').value;
var tel = document.getElementById('telefono').value;
var tipo_per = document.getElementById('tipo_persona').value;

const datos = new URLSearchParams();

datos.append('tipo_documento', tipo_doc);
datos.append('numero_documento', numero_doc);
datos.append('nombres', nomb);
datos.append('apellidos', apel);
datos.append('telefono', tel);
datos.append('tipo_persona', tipo_per);

    fetch('/registro/register_people',{
    method: 'post',
    body:datos
    })
    .then(resp=>resp.text())
    .then(data=>{
        
        document.getElementById('smg').innerHTML=`<div class="alert alert-success" role="alert">E registro correctamente<strong>`;
        
    })

}

// Registrar Elementos

function Registrar_Elemento(){

var tip_elemento = document.getElementById('tipo_elemento').value;
var num_serial = document.getElementById('numero_serial').value;
var caract = document.getElementById('caracteristicas').value;
var mar = document.getElementById('marca').value;
var mod = document.getElementById('modelo').value;

const datos = new URLSearchParams();

datos.append('tipo_elemento', tip_elemento);
datos.append('numero_serial', num_serial);
datos.append('caracteristicas', caract);
datos.append('marca', mar);
datos.append('modelo', mod);


    fetch('/registro/register_element',{
    method: 'post',
    body:datos
    })
    .then(resp=>resp.text())
    .then(data=>{
        
        document.getElementById('smg').innerHTML=`<div class="alert alert-success" role="alert">E registro correctamente<strong>`;
        
    })

}



// listar Elementos
function Elements_id(){
  
  fetch('/registro/Listar_elementos', {
    method: 'get'
  })
  .then(resp=>resp.json())
  .then(data=>{
    var html = '';

    for(var i in data){
    html+=`<tr>
                <td>${data[i].id_elemento}</td>
                <td>${data[i].tipo_elemento}</td>
                <td>${data[i].num_serial}</td>
                <td>${data[i].caracteristicas}</td>
                <td>${data[i].marca}</td>
                <td>${data[i].modelo}</td>
                <td class="text-center">
                    <a href="javascript:Seleccionar_persona(${data[i].id_elemento});" title="Seleccionar" class="text-decoration-none">
                        <i class="fas fa-check-double me-2 fa-lg"></i>
                    </a>

                    <a href="javascript:Editar_elemento(${data[i].id_elemento});" title="Editar" class="text-decoration-none">
                        <i class="fas fa-edit me-2 fa-sm" style="color: blanchedalmond;"></i>
                    </a>

                    <a href="javascript:Eliminar_elemento(${data[i].id_elemento});" title="Eliminar" class="text-decoration-none">
                        <i class="fas fa-trash-alt fa-sm" style="color: blanchedalmond;"></i>
                    </a>
                </td>
            `
        }

        document.getElementById('Elements').innerHTML=html;
    })
}

function Eliminar_elemento(id_elemento){
  
  const datos = new URLSearchParams();

  datos.append('id_elemento', id_elemento);
  
  fetch('/registro/Eliminar_elemento',{
    method: 'DELETE',
    body:datos
  })
  .then(resp=>resp.text())
  .then(data=>{
      alert(data)
        Elements_id();
        document.getElementById('smg').innerHTML=`<div class="alert alert-danger" role="alert">${data}</div>`;
  })

}

// ingresos

//HORA
reloj()
function reloj() {

    var hoy=new Date(); 
    var h=hoy.getHours(); 
    var m=hoy.getMinutes(); 
    var s=hoy.getSeconds();

    m = actualizarHora(m);
    s = actualizarHora(s);

    document.getElementById('HoraActual').value = h+":"+m+":"+s;


}
function actualizarHora(i) {

    if (i<10) {i = "0" + i};  // Añadir el cero en números menores de 10
    return i;
}


// FECHA
window.onload = function(){
  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  if(dia<10)
    dia='0'+dia; //agrega cero si el menor de 10
  if(mes<10)
    mes='0'+mes //agrega cero si el menor de 10
  document.getElementById('fechaActual').value=ano+"-"+mes+"-"+dia;
}



</script>