
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ICONS BOOTSTRAP -->
    <script src="/js/icons/icons_navbar/2c84f2b2f3.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/js/home/bootstrap.min.css">


    <!-- export DataTable -->
    <script src="/js/dataTableReportes/jquery-3.5.1_primera.js"></script>
    <script src="/js/dataTableReportes/jquery.dataTables.min_segunda.js"></script>
    <script src="/js/dataTableReportes/dataTables.buttons.min_tercera.js"></script>
    <script src="/js/dataTableReportes/jszip.min_cuarta.js"></script>
    <script src="/js/dataTableReportes/pdfmake.min_quinta.js"></script>
    <script src="/js/dataTableReportes/vfs_fonts_sexta.js"></script>
    <script src="/js/dataTableReportes/buttons.html5.min_septima.js"></script>
    <script src="/js/dataTableReportes/buttons.print.min_octaba.js"></script>


    <title>Reportes</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="css/reports.css">
    

  </head>
  <body>
    <%- include('navbar') %>
    <div class="container">
        <!-- <h1>Reportes</h1> -->
        <div class="row">
            <div class="col-md-11  mx-auto">
                <div class="card mt-3">
                    <div class="card-header">
                        <h4>Generar reportes</h4>
                    </div>
                    <div class="card-body mx-auto">
                        
                        <!-- Button trigger modal -->
                        <button type="button" class="btn border-start border-end p-2 me-2 active" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" onclick="Reporte_personas();">
                            Reporte personas
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width: 100%;">
                            <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Se genero un reporte de personas registradas</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body mx-auto" style="overflow-y: scroll;">
                                    <!-- TABA DE PERSONAS  -->
                                    <table class="table table-striped table-hover" id="ReportePersonas">
                                        <thead class="table table-Success text-center">
                                            <tr class="table table-primary">
                                                <th colspan="7">DATOS personales</th>
                                            </tr>
                                            <tr>
                                                <th>ID</th>
                                                <th>tipo_documento</th>
                                                <th>Identificacion</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Telefono</th>
                                                <th>Tipo de persona</th>
                                            </tr>
                                        </thead>
                                      </table>
                                      <tbody>
                                  
                                      </tbody>
                                </div>
                               
                            </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn border-start border-end p-2 me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" onclick="Reporte_elementos();">
                            Reporte elementos
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width: 100%;">
                            <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Se genero un reporte de elementos registrados</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body mx-auto" >
                                    <!-- TABA DE ELEMENTOS  -->
                                    <table class="table table-striped table-hover table-striped table-bordered" id="ReporteElementos">
                                        <thead class="table table-Success text-center">
                                            <tr class="table table-primary">
                                                <th colspan="6">DATOS del elemento</th>
                                                <th colspan="1">DATOS del responsable</th>
                                            </tr>
                                            
                                            <tr>
                                                <th>ID</th>
                                                <th>Tipo elemento</th>
                                                <th>Numero serial</th>
                                                <th>Caracteristicas</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th>Documento del responsable </th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <tbody>
                                
                                    </tbody>
                                </div>
                                
                            </div>
                            </div>
                        </div>


                        <!-- Button trigger modal -->
                        <button type="button" class="btn border-start border-end p-2 me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop3" onclick="Reporte_ingresos();">
                            Reporte Ingresos
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Se genero un reporte de ingresos registrados</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="overflow-y: scroll;">
                                    <!-- TABA DE iNGRESOS  -->
                                    <table class="table table-striped table-hover table-bordered" id="ReporteIngresos" >
                                        <thead class="table table-Success text-center">

                                            <tr class="table table-primary">
                                                <th colspan="1">ID</th>
                                                <th colspan="6">DATOS del responsable</th>
                                                <th colspan="5">DATOS del elemento</th>
                                                <th colspan="5">DATOS del ingreso</th>
                                            </tr>
                                            <tr>
                                                <th>Id_ingreso</th>
                                                <th>Hora entrada</th>
                                                <th>Fecha entrada</th>
                                                <th>Hora salida</th>
                                                <th>Fecha salida</th>
                                                <th>Estado</th>
                                                <th>Tipo documento</th>
                                                <th>Identificacion</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Telefono</th>
                                                <th>Tipo de persona</th>
                                                <th>Tipo elemento</th>
                                                <th>Numero serial</th>
                                                <th>Caracteristicas</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                            </tr>
                                            
                                        </thead>
                                    </table>
                                    <tbody>

                                
                                    </tbody>
                                </div>
                               
                            </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn border-start border-end p-2 me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop4" onclick="Reporte_usuarios();">
                            Reporte usuarios
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Se genero un reporte de Usuarios</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body mx-auto">
                                    <!-- TABA DE usuarios  -->
                                    <table class="table table-striped table-hover table-bordered" id="ReporteUsuariios" >
                                        <thead class="table table-Success text-center">

                                            <tr class="table table-primary">
                                                <th colspan="5">DATOS personales del usuario</th>
                                            </tr>
                                            <tr>
                                                <th>ID usuario</th>
                                                <th>Identificacion</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Nombre Usuario</th>
                                            </tr>
                                            
                                        </thead>
                                    </table>
                                    <tbody>

                                
                                    </tbody>
                                </div>
                               
                            </div>
                            </div>
                        </div>
                        <hr>

                    </div>
                        <div class="col-md-11 mx-auto mt-3"  style="overflow: scroll; height: auto; width: 95%;">
                        <div id="tabla_html">
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
  </body>




<script>

    // Reporte para personas

    function Reporte_personas() {
        fetch('/reportes/reporte_personas', {
        method: 'get'
      })
      .then(resp=>resp.json())
      .then(data=>{
        $('#ReportePersonas').DataTable({
            "paging": true,
            "pageLength": 100,
            "responsive":true,
            "destroy":true,
            "data":data,
            dom: 'Bfrtip',
            
            buttons: [
            'copy', 'excel', 'pdf', 'print'
            ],
            
            columns: [
                {"data": "id_persona"},
                {"data": "tipo_documento"},
                {"data": "identificacion"},
                {"data": "nombres"},
                {"data": "apellidos"},
                {"data": "telefono"},
                {"data": "Tipo_persona"}
            ]
        })
      })
    }

    // reporte para elementos

    function Reporte_elementos() {
        fetch('/reportes/reporte_elementos', {
        method: 'get'
      })
      .then(resp=>resp.json())
      .then(data=>{

        $('#ReporteElementos').DataTable({
            "paging": true,
            "pageLength": 50,
            "responsive":true,
            "destroy":true,
            "data":data,
            dom: 'Bfrtip',
            
            buttons: [
            'copy', 'excel', 'pdf', 'print'
            ],
            
            columns: [
                {"data": "id_elemento"},
                {"data": "tipo_elemento"},
                {"data": "num_serial"},
                {"data": "caracteristicas"},
                {"data": "marca"},
                {"data": "modelo"},
                {"data": "fk_persona"}
                // {"data": "tipo_documento"},
                // {"data": "identificacion"},
                // {"data": "nombres"},
                // {"data": "apellidos"},
                // {"data": "telefono"},
                // {"data": "Tipo_persona"}
            ]
        })
      })
    }


    // reporte ingresos

    function Reporte_ingresos() {
        fetch('/reportes/reporte_ingresos', {
        method: 'get'
      })
      .then(resp=>resp.json())
      .then(data=>{
      
        $('#ReporteIngresos').DataTable({
            "paging": true,
            "pageLength": 500,
            "responsive":true,
            "destroy":true,
            "data":data,
            dom: 'Bfrtip',
            
            buttons: [
            'copy', 'excel', 'pdf', 'print'
            ],
            
            columns: [
                {"data": "id_ingreso"},
                {"data": "hora_entrada"},
                {"data": "fecha_entrada"},
                {"data": "hora_salida"},
                {"data": "fecha_salida"},
                {"data": "estado"},
                {"data": "tipo_documento"},
                {"data": "identificacion"},
                {"data": "nombres"},
                {"data": "apellidos"},
                {"data": "telefono"},
                {"data": "Tipo_persona"},
                {"data": "tipo_elemento"},
                {"data": "num_serial"},
                {"data": "caracteristicas"},
                {"data": "marca"},
                {"data": "modelo"}
            ]
        })
        document.getElementById('tabla_html').innerHTML=html;
      })
    }

    // reporte ingresos

    function Reporte_usuarios() {
    fetch('/reportes/reporte_usuarios', {
    method: 'get'
      })
      .then(resp=>resp.json())
      .then(data=>{
      
        $('#ReporteUsuariios').DataTable({
            "paging": true,
            "pageLength": 15,
            "responsive":true,
            "destroy":true,
            "data":data,
            dom: 'Bfrtip',
            
            buttons: [
            'copy', 'excel', 'pdf', 'print'
            ],
            
            columns: [
                {"data": "id_usuario"},
                {"data": "identificacion"},
                {"data": "nombres"},
                {"data": "apellidos"},
                {"data": "nombre_Usuario"}
            ]
        })
        document.getElementById('tabla_html').innerHTML=html;
      })
    }

  
  
  </script>