
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ICONS BOOTSTRAP -->
    <script src="/js/icons/icons_navbar/2c84f2b2f3.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/js/home/bootstrap.min.css">

    <!-- FONTS GOOGLE -->
    <link rel="stylesheet" href="/js/icons/icons_navbar/css2.css">
    

    <title>Iniciar sesion</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/signin.css">
  </head>
  <body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4 mx-auto">
                <div class="card" id="card_signin">
                    <div class="card-header">
                        <h4>Iniciar Sesión</h4>
                    </div>
                    <div id="titulo_sistema">
                        <h3 class="mt-2 ms-3">Sistema</h3>
                        <h2 class="mt-2 ms-3">Ingreso de Elementos</h2>
                    </div>
                    <img src="/img/cabezote.png" alt="logo" class="rounded-circle mx-auto d-block" id="logo">
                    <div class="card-body">
                        <form action="/users/signin" method="POST" class="col-md-11 mx-auto">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-tie"></i></span>
                                <input type="text" class="form-control" name="username" placeholder="Nombre usuario" id="username">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Contraseña" id="password">
                            </div>
                            <button class="btn border-end border-start" id="btn_ingresar">
                                Iniciar Sesion
                            </button>
                        </form>
                        <a href="/users/signup" class="mt-1" id="sin_cuenta">Aun no tengo una cuenta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </body>



<script>

    function Vaalidar_users(){
    
        var usern= document.getElementById('username').value;
        var pass = document.getElementById('password').value;
    
        const datos = new URLSearchParams();
    
        datos.append('username', usern);
        datos.append('password', pass);

    
        fetch('users/signin',{
        method: 'POST',
        body:datos
        })
        .then(resp=>resp.text())
        .then(data=>{
            
            document.getElementById('smg').innerHTML=`<div class="alert alert-warning" role="alert">${data}</div>`;
        })
    
    }
    
    
    </script>