
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ICONS BOOTSTRAP -->
    <script src="/js/icons/icons_navbar/2c84f2b2f3.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/js/home/bootstrap.min.css">

    <!-- FONTS GOOGLE -->
    <link rel="stylesheet" href="/js/icons/icons_navbar/css2.css">


    <title>Reggistrarme</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/signup.css">
  </head>
  <body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4>Registrarme</h4>
                    </div>
                    <div class="card-body">
                        <form action="#" method="POST">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                <input type="text" class="form-control" name="identificacion" placeholder="Identificacion" id="identificacion">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="nombres" placeholder="Nombres" id="nombres">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-signature"></i></span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="apellidos" placeholder="Apellidos" id="apellidos">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-signature"></i></span>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-tie"></i></span>
                                <input type="text" class="form-control" name="username" placeholder="Nombre de usuario" id="username">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Contraseña" id="password">
                            </div>
                            <button class="btn border-end border-start" id="btn_ingresar">
                                Registrarme
                            </button>
                        </form>

                        <a href="/" class="mt-1" id="con_cuenta">Ya tengo cuenta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </body>


<script>

function Registrar_persona(){

    var ident= document.getElementById('identificacion').value;
    var nomb = document.getElementById('nombres').value;
    var apel = document.getElementById('apellidos').value;
    var usern = document.getElementById('username').value;
    var pass = document.getElementById('password').value;

    const datos = new URLSearchParams();

    datos.append('identificacion', ident);
    datos.append('nombres', nomb);
    datos.append('apellidos', apel);
    datos.append('username', usern);
    datos.append('password', pass);

    fetch('users/signup',{
    method: 'POST',
    body:datos
    })
    .then(resp=>resp.text())
    .then(data=>{
        
        document.getElementById('smg').innerHTML=`<div class="alert alert-warning" role="alert">${data}</div>`;
    })

}


</script>