/* NAVEGACION */
#nav_header{
    background-color: #FF5800;
    height: 50px !important;
}

#caja_img{
    float: right;
    width: 100px;
    height: 50px;
    background-color: #02767ce8;
}


#nav_header img{
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    top: 10px;
}
.card{
    border-radius: 7px !important;
    border: 1px solid #EE7912;
    background-color: #ee791204 !important;
    min-height: 500px;
}
.card-header{
    background-color: #FF5800;
    border-radius: 7px !important;
    text-align: center;
}

h4{
    color: #FFF9FB;
    font-weight: 700;
}

#img_elements{
    width: 50px;
}
.form-group img{
    width: 50px;
}

#btn_register{
    margin-top: 0 !important;
    margin-bottom: 10px;
}

#floatingTextarea2{
    min-height: 130px;
    color: black;
}
#label_text{
    color: rgb(126, 126, 126);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}

.input-group a{
    text-decoration: none;
}

/* INICIAR SESION */

#logo {
    width: 30%;
}

/* VENTANA MODAL DE REGISTRO */

.modal{
    border-radius: 20px;
}

#ventana_modal{
    color: black;
}

.modal-header{
    background-color: #FF5800;
    
}

.modal-header #exampleModalLabel{
    font-size: 25px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto;
}

#body_modal{
    border-radius: 7px !important;
    border: 1px solid #EE7912;
}

.modal-footer{
    background-color: #02767c2f;
}

/* DATOS DEL ELEMENTO */

.data_title{
    color: rgb(128, 128, 128);
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 18px auto;
}


/* SIGNIN */
#card_signin{
    height: 200px !important;
    border: none;
}