#navbar{
    background-color: #02757C;
}

#navbarText ul li a{
    color: #FF5800;  
    font-family: 'Noto Sans JP', sans-serif;
    

}
li:hover {
    background-color: #0bbac4ea;
}
.nav-item{
    visibility:hidden;
}
