body{
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url('/img/sena.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

*{
    font-family: 'Noto Sans JP', sans-serif;
}
.card{
    float: right;
    border: 1px solid #127B76 !important;
}

.card-header{
    background-color: #127B76 !important;
    color: #FFFFFF;
    
}

#registrar_pers{
    background-color: #127B76;
    color: #FFFCFB;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 700;
}

#registrar_pers:hover{
    color: #127B76;
    background-color: powderblue;
    transition: background-color .5s;
}